* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

.list_cards_page {
    height: 100vh;
    width: 100vw;
    background: var(--verylightgrey)
}

.list_cards_page_content {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "title card_CRUD"
    "card_section card_CRUD"
    ;
}
.list_cards_title_container {
    grid-area: title;
    margin-top: 1rem;

    flex-direction: column;
    display: flex;
}

.list_cards_set_title { 

    font-size: 3rem;
    font-weight: 500;
    padding-left: 3rem;
    display: flex;
    align-items: center;
}

.list_cards_timer {
    
    font-size: 1.5rem;
    padding-left: 3rem;
    display: flex;
    align-items: center;
}

.list_cards_card_section{
    height: 100%;
    width: 100%;
    grid-area: card_section;

    flex-direction: column;
    display: flex;
    margin-left: 5rem;
}

.list_cards_card_container {
    height: 100%;
    width: 100%;
    position: relative;

}

.list_cards_card {
    height: 100%;
    width: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;
}

.list_cards_card_front, .list_cards_card_back {
    height: 100%;
    width: 100%;
    box-shadow: 0.3rem 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 2.5rem;

    border-radius: 2rem;
    background: white;
}
.list_cards_card_front {
    background: rgb(168, 230, 255);
}

.list_cards_card_front:hover, .list_cards_card_back:hover {
    cursor: pointer;
}

.list_cards_change_card {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 3rem;
}

.list_cards_display_index {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_cards_arrow_btn {
    height: 80%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_cards_card_CRUD {
    grid-area: card_CRUD;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.list_cards_add_btn, .list_cards_edit_btn, .list_cards_delete_btn {
    width:20%;
    height:20%;
    color: var(--grey)
}

.list_cards_add_btn:hover, .list_cards_edit_btn:hover, 
.list_cards_delete_btn:hover, .list_cards_arrow_btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

