* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

.user_container{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.user_content_container {
  height: 90%;
  width: 100%;
  /* position: relative; */
  background-color: lightskyblue;
}

.create_container {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

.create_folder, .create_set, .timer {
  height: 70%;
  width: 30%;
  position: relative;
}

.create_folder:hover, .create_set:hover, .timer:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.plus_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.icons {
  height: 100%;
  width: 100%;
  color: grey;
}

.time_remaining_container {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.time_remaining_text {
  font-size: 2.1rem;
}

.pauseplay_refresh_btn {
  height: 2rem;
  width: 2rem;
  margin-left: 2rem;
}

.pauseplay_refresh_btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
/* ========================================================================== */
/* Folder List */
/* ========================================================================== */

.folders_container {
  height: 30%;
  width: 100%;

  flex-direction: column;
  display: flex;
}

.folders_title_viewAll {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.viewAll {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.viewAll:hover {
  cursor: pointer;
}

.user_list_of_folders, .user_list_of_sets {
  height: 78%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.user_one_item {
  height: 7rem;
  min-height: 7rem;
  width: 20%;
  background: white;
  margin-left: 3rem;
  margin-bottom: 1.5rem;

  flex-direction: column;
  display: flex;
  justify-self: center;
  align-items: center;

  padding-left: 1rem;

  border: 0.2rem solid black;
  position: relative;
}

.user_one_item:hover {
  background: var(--lightgrey);
  cursor: pointer;
}
.user_one_item_title_container {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: left;
}

.user_one_item_folderImg_container {
  /* height: 100%;
  width: 5%;;  */
  display: flex;
  text-align: center;
  align-items: center;
}

.user_one_item_folderIcon {
  height: 3rem;
  width: 3rem;
}

.user_one_item_name {
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 1rem;
}

.user_one_item_numChild {
  height: 40%;
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  align-items: center;
}

/* ========================================================================== */
/* Set List */
/* ========================================================================== */
.sets_container {
  height: 30%;
  width: 100%;

  flex-direction: column;
  display: flex;
}
.sets_title_viewAll {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.viewAll {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.viewAll:hover {
  cursor: pointer;
}

.user_list_of_sets {
  /* in above section*/
  display: flex;
}

/* ========================================================================== */
/* Popups */
/* ========================================================================== */
.add_folder_pop_up {
  height: 25rem;
  width: 50rem;
  position: absolute;
  /* margin-top: 5%;
  margin-left: 50%; */

  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.add_set_pop_up {
  height: 25rem;
  width: 50rem;
  position: absolute;
  /* margin-top: 5%;
  margin-left: 50%; */

  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}


.timer_pop_up {
  height: 50rem;
  width: 50rem;
  position: absolute;
  /* margin-top: 5%;
  margin-left: 50%; */

  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
